
a {
    text-decoration: none;
}

.nav-bar {
    background-color: #1a237e;
    position: fixed;
    top: 0;
    width: 100%;
    color: white; /* Adjust text color for better contrast */
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
    z-index: 100; /* Ensure it stays above other content */

}

.nav-brand {
    color: white;
    font-size: 1.75rem !important;
}

.nav-brand:hover {
    color: #bdbdbd;
}

.nav-name {
    color: white;
    font-size: 1.75rem !important;
}

.nav-name:hover {
    transform: scale(1.1);
        text-decoration: none;
        color: white;

}


.nav-link-group {
    display: flex;
    justify-content: flex-end;
}

.nav-links {
    margin-right: 35px;
    color: white;
    font-size: 1.1rem !important;
}


.nav-links:hover {
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: 2px;
}

.badgeimg {
    width: 80px;
    height: 80px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.badgeimg:hover {
    transform: scale(1.1);
  }

@media only screen and (max-width: 845px) {
    .nav-link-group {
        display: flex;
        justify-content: center;
    }

    .nav-items {
        margin: auto;
    }

    .nav-links {
        font-size: 1rem !important;
    }
  }

  